<?xml version="1.0" encoding="UTF-8"?>

<mapper namespace="org.zerock.mapper.BoardMapper">
	<insert id="create">
		insert into tbl_board(title, content, writter)
		values(#{title}, #{content}, #{writter})
	</insert>
	
	
	<select id="read">
		select
			bno, title, content, writter, regdatem viewcnt
		from
			tbl_board
		where bno = #{bno}
	</select>
	
	<update id="update">
		update tbl_board set title=#{title}, content=#{content}
		where bno = #{bno}
	</update>
	
	<delete id="delete">
		delete from tbl_board WHERE bno = #{bno}
	</delete>
	
	<select id="listAll" resultType="org.zerock.domain.BoardVO">
		select
			bno, title, content, writter, regdate, viewcnt
		FROM tbl_board
		WHERE bno >0
		ORDER BY bno desc, regdate desc
	</select>
</mapper>